/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */
.debug .container.small,
.debug .container.big,
.debug .box,
.debug .bordi,
.debug header .headersuperiore .col {
    border: 2px dashed;
}

.debug .container.small {
    height: 400px;
}

.debug {
    height: 1000px;
}

.debug .row {
    align-items: flex-start;
}

.debug .col-1,
.col-2 {
    height: 500px;
}

.debug .coll-big2,
.coll-small2,
.box {
    height: 570px;
}

.debug main section .green {
    height: 900px;
}


/* Common */
body {
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0 auto;
}
.row {
    display: flex;
    align-items: flex-start;
    margin: 0 -10;
}

.container.big {
    width: 1200px;
}

.container.small {
    width: 900px;
}

 /* .container.small,
.container.big,
.headerbottom,
.footer-bottom {
    display: flex;
    justify-content: center;
}   */

.container.big {
    max-width: 1200px;
}

.container.small {
    max-width: 900px;
}

button {
    padding: 15px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.white-button {
    color: black;
    background-color: white;
}

.black-button {
    color: white;
    background-color: #23272a;
}
p {
    font-size: 20px;
    line-height: 35px;
}
h2{
    font-size: 50px;
    padding: 15px 0;
}

a {
    text-decoration: none;
    color: white;
}

ul li{
    list-style: none;
}
/* Header */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* Header superiore */
header .jumbotron .contenuto {
    text-align: center;
}

.header-top {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col {
    padding: 10px;
}

.col.link {
    width: 60%;
    vertical-align: middle;
}

.col.logo,
.col.login {
    width: 20%;
}

.login {
    display: flex;
    justify-content: flex-end;
}

.logo {
    vertical-align: middle;
    width: 150px
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}


header .headersuperiore a {
    color: white;
}

/* Header Bottom */
.contenuto {
    height: 400px;
}

.headerbottom h1 {
    font-size: 50px;
    padding: 15px 0;
}

.headerbottom {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.headerbottom .white-button {
    font-size: 25px;
    padding: 15px 20px;
}

.headerbottom .black-button {
    font-size: 25px;
    margin-left: 15px;
    margin-top: 30px;
    padding: 15px 20px;
}

/* Main */

section {
    padding: 40px;
}

main section:nth-child(even) {
    background-color: #d3d3d3;
}

.col-1 {
    width: 60%;
}

.col-2 {
    width: 40%;
}


section .row {
    display: flex;
    justify-content: space-between;
}
.quarta-section{
    text-align: center;
}

section .col-green img{
    width: 1300px;
}
h3{
    font-size: 30px;
}

.blue-button{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #7289da;
    color: white;
}
/* Footer */

footer {
    background-color: #23272a;
    padding-top: 10px;
}
footer .small2 ul li {
    display: flex;
    justify-content: center;
}

.logo-footer,
.bottone {
    padding: 10px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    background-color: #23272a;
}


footer .footer-top .coll-small2 {
    margin-top: 100px;
    width:  30%;
}
h4{
    font-size: 30px;
    color: #7289da;
}
.footer-top p,.flagita{
    display: inline-block;
    color: white;
}
footer .coll-small2 li{
    color: white;
}
footer .coll-small2 ul{
    display: flex;
    gap:15px;
}
.flagita{
    width: 25px;
}

.coll-big2 {
    display: flex;
    width:  100%;
    margin-top: 100px;
    justify-content: space-between;
} 

footer hr {
    margin: 30px auto;
}
.box{
    width: 25%;
}
footer .footer-bottom .container {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
} 

.first>a{
    color: #7289da;
} 

footer .box li{
    padding: 10px 50px;
}
